{erl_opts, [debug_info]}.
{deps, []}.
{cover_enabled, true}.
{dialyzer, [{warnings, [unmatched_returns,
                        error_handling,
                        race_conditions, overspecs
                       ]},
            {get_warnings, true}]}.
{plugins, [
    {rebar3_eqc, ".*", {git, "https://github.com/kellymclaughlin/rebar3-eqc-plugin.git", {tag, "0.1.0"}}}
]}.
{eqc_opts, [{numtests, 1000}]}.